<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="./styles/loader.css" />
    <link rel="stylesheet" type="text/css" href="./styles/styles.css" />
</head>

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <content>
        <script>
            window.settings = {};
            window.settings.timer = {{ timer }};
            window.settings.preCount = "{{ preCount }}";
            window.settings.leftCount = "{{ leftCount }}";
            window.settings.rightCount = "{{ rightCount }}";
            window.settings.postCount = "{{ postCount }}";
        </script>

        <div id="loader" class="loader">
            <div class="spinner">Loading...</div>
        </div>

        <div class="continue-message">
            {{ preCount }}
        </div>

        <wrapper>
            <posterwrapper>
                <poster>
                    <postercontent style="background-image: url('{{ imageUrl }}');">
                        <image src="./images/play_button.svg" />
                    </postercontent>
                </poster>
            </posterwrapper>

            <videowrapper>
                <video muted playsinline>
                    <source src="{{ videoUrl }}.mp4" type="video/mp4">
                    <source src="{{ videoUrl }}.webm" type="video/webm">
                    <source src="{{ videoUrl }}.ogg" type="video/ogg"> Video is not supported...
                </video>
            </videowrapper>
        </wrapper>
        <div class="continue-button">{{ continueBtn }}</div>
    </content>
    <script src="https://splashportal.cloud4wi.com/myapps/v1/myapps-sdk.js"></script>
    <script src="./scripts/bundle.js"></script>

</body>

</html>